@import 'https://unpkg.com/leaflet@1.7.1/dist/leaflet.css';

#contact-page {
    width: 100%;
    min-height: 100vh;
    color: rgb(197, 188, 188);
    padding: 5rem 3rem 0 0;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

#contact-page .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    animation: animated-form .4s ease-in-out;
}


#contact-page .form-container h2 {
    font-size: 4rem;
}


#contact-page .form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    gap: 1rem;
}


#contact-page .form-container form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    font-size: 1.3rem;
}

#contact-page .form-container form label input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #33353a;
    border: none;
    padding: 1rem;
    font-size: 1.3rem;
    color: gray;
}


#contact-page .form-container form label:first-child {
    width: 45%;
}

#contact-page .form-container form label:nth-child(2) {
    width: 45%;
}


#contact-page .form-container form label textarea {
    height: 300px;
    border-radius: 5px;
    background-color: #33353a;
    border: none;
    padding: 1rem;
    font-size: 1.3rem;
    color: gray;
}


#contact-page .error-text, .error-text-message {
    background-color: #4f5054;
    box-sizing: border-box;
    width: 220px;
    font-size: 1rem;
    position: absolute;
    color: rgba(255, 0, 0, 0.699);
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 8rem;
}


#contact-page  .error-text-message {
    margin-top: 24rem;
    width: 450px;
}


#contact-page .contact-button {
    bottom: 10rem;
    border: 3px solid rgb(42, 118, 39);
    border-radius: 15px;
    color: rgb(42, 118, 39);
    background-color: transparent;
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
}


#contact-page .message-ok {
    color: green;
    width: 300px;
}


#contact-page .leaflet-container {
    width: 800px;
    height: 80%;
    animation: animated-form .3s ease-out;
}


#contact-page .leaflet-tile-loaded {
    filter: brightness(1) invert(1) grayscale(10);
}

#contact-page .leaflet-container a {
    color: #000000;
}

#contact-page .leaflet-container .leaflet-control-attribution {
    display: none;
    background: none;
    background-color: rgba(255, 255, 255, 0);
}


@keyframes animated-form {
    0% {
        transform: translateX(4000px) translateY(100px);
    }
}


@keyframes animated-map {
    90% {
        transform: translateX(200px) translateY(100px);
    }
}
