header {
    width: 200px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #1e272e;
    position: fixed;
    z-index: 1;
    color: #808e9b;
    padding-bottom: 1rem;
    overflow: hidden;
}


.menu-bar {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25vh;
}

.menu-bar:first-child {
    border-top: 1px solid #485460;
}


.menu-bar li {
    border-bottom: 1px solid #485460;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1.2rem 0;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
}


.menu-bar li:hover {
    animation: menu-animation .2s ease-in-out forwards;
    background-color: #1b2227;
}

@keyframes menu-animation {
    100% {
        transform: scale(1.05) translateY(.2rem);
    }

}


.logos-rss-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 0 1rem 2rem 0;
}

.logo:hover,
.myName:hover {
    animation: menu-animation .2s ease-in-out forwards;
}

.logo {
    width: 40px;
    height: 40px;
    color: #808e9b;
    cursor: pointer;
}


header .myName {
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Trispace', sans-serif;
}



@media (max-width: 768px) {
    header {
        right: 0;
        left: 0;
        top: 0;
        width: 100vw;
        height: 175px;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 0 2rem;
        justify-content: space-between;
    }

    .menu-bar {
        display: none;
    }

    .logos-rss-container {
        height: 50px;
        padding: 0;
    }
}