#presentation-page {
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#presentation-page .message-container {
    width: 100%;
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2rem;
}


#presentation-page .message-container .Typewriter {
    min-height: 250px;
    max-height: 300px;
}


#presentation-page .message-container .Typewriter .Typewriter__cursor, #presentation-page .message-container .Typewriter .Typewriter__wrapper {
    color: rgb(197, 188, 188);
}


#presentation-page .message-container span {
    font-size: 5rem;
}
#presentation-page p {
    height: min-content;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: rgb(211, 125, 125);
}



#presentation-page .contact-button-landing {
    position: absolute;
    bottom: 10rem;
    text-decoration: none;
    border: 1px solid rgb(42, 118, 39);
    border-radius: 15px;
    color: rgb(42, 118, 39);
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}


#presentation-page .contact-button-header {
    display: none;
}
#presentation-page .contact-button:hover {
    background-color: red;
    color: whitesmoke;
}

