main {
    margin-left: 300px;
    background-color: #28292C;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5rem;
    flex-grow: 1;
}

main .buttons-scroll-conatiner {
    position: fixed;
    bottom: 2rem;
    left: 20rem;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
