#works-page {
    width: 100%;
    min-height: 100vh;
    color: #808e9b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem 2rem 0;
}

#works-page h2 {
    padding-left: 1rem;
    font-size: 2rem;
    width: 100%;
    display: none;
}

#works-page .works-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 2rem;
}


#works-page .works-container .work-card {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 10px;
    background-color: #1e272e;
    box-shadow: 5px 5px 5px black;
    padding: 1.5rem 1.5rem 3rem;
}


#works-page .works-container .work-card:hover {
    animation: card-animation .5s .2s ease-in-out forwards;
}

@keyframes card-animation {
    100% {
        transform: scale(1.2) translateY(-2rem) translateX(-2rem);
    }

}


#works-page .works-container .work-card .header-card {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#works-page .works-container .work-card .header-card span {
    font-size: 1.4rem;
    font-weight: bolder;
}


.links-container {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}


.repo-github {
    display: flex;
    background-image: url('../assets/png/github.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    background-color: #808e9b;
    cursor: pointer;
    border-radius: 50%;
}


.link-logo {
    display: flex;
    background-image: url('../assets/png/web.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    background-color: #808e9b;
    cursor: pointer;
    border-radius: 70%;
    border: 3px solid black;
}


.video-logo {
    display: flex;
    background-image: url('../assets/png/video-icon.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    background-color: #808e9b;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid black;
}


#works-page .works-container .work-card span {
    font-size: 1.2rem;
    font-weight: bold;
}





#works-page .button-steps-container-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 1.5rem;
    gap: .5rem;
}


.button-steps-container-projects span:first-child {
    cursor: pointer;
}


#works-page .button-steps-container-projects span:last-child {
    cursor: pointer;
}


@media (max-width: 768px) {
    #works-page h2 {
        font-size: 1.5rem;
        display: inline;
        padding-left: .5rem;
    }

    #works-page .works-container .work-card {
        width: 100vw;
        box-shadow: none;
        border: none;
        padding: 2rem 0;
        border-radius: 0;
    }

    #works-page .works-container .work-card:hover {
        animation: none;
    }

    .links-container {
        justify-content: center;
    }

    #works-page .works-container .work-card span,
    #works-page .works-container .work-card p {
        padding: .5rem;
    }

    #works-page .works-container .work-card:hover {
        transform: none;
    }

    #works-page .works-container .work-card .header-card {
        padding: 0 1rem;
    }

}